
{% extends "base.html" %}
{% load static %}
{% block content%}


		<!--eadcrumbs -->
		<div classeadcrumbs overlay">
			<div class="container">
				<div classead-inner">
					<div class="row">
						<div class="col-12">
							<h2>DALA 2025: Our Flagship Event</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Eneadcrumbs -->




		<!-- Start Why choose -->
		<section class="why-choose section" >
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-12">
						<!-- Start Choose Left -->
						<div class="choose-left">
							<h3 style="color: #98681e;font-family: sans-serif;">The PSN-YPG Annual National Conference is our flagship event, 
                                drawing pharmacists from across Nigeria and beyond. The upcoming DALA 2025 conference, themed:</h3>

							<h6>“Politics, Policies, and Pills: Young Pharmacists at the Intersection of 
                                Governance and Medicine Security in Nigeria”</h6>
							<p>…promises to be a landmark event. Delegates will gain insights into the evolving role of pharmacists in shaping 
                                healthcare policies while connecting with industry leaders and exploring new innovations.</p>
                            <p>This event is more than just a gathering — it’s a launchpad for young pharmacists to 
                                become catalysts for change in Nigeria’s healthcare system.</p>
                            
                            <h6>Why Partner with PSN-YPG?</h6>
                            <p>Supporting PSN-YPG isn’t just a sponsorship — it’s an investment in Nigeria’s 
                                healthcare future. As a partner, your organization will:</p>
                            <ol> 
                                <li>Gain Direct Access to a specialized audience of young, 
                                    talented pharmacists eager to ace new ideas and innovations.</li>
                                <li>Showcase Youand as a champion of healthcare development and youth empowerment.</li>
                                <li>Contribute to Policy and Innovation by supporting meaningful 
                                    discussions that shape Nigeria’s healthcare policies and pharmaceutical practices.</li>
                                <li>Enjoy Enhanced Visibility through conference materials, speaking 
                                    opportunities, and direct engagement with delegates.</li>
                            </ol>

                            <h6>Let’s Shape the Future Together</h6>
                            <p>At PSN-YPG, we believe young pharmacists are not just participants in Nigeria’s healthcare system — 
                                they are its future leaders. Join us in equipping the next generation of 
                                pharmacists with the tools, knowledge, and confidence they need to make a lasting impact.</p>

                            <h6>For inquiries, sponsorship, or collaboration:</h6>

							<div class="row">
								<div class="col-lg-7">
									<ul class="list">
										<li><i class="fa fa-caret-right"></i>Email: psnypg@gmail.com</li>
										<li><i class="fa fa-caret-right"></i>Phone: +2347031698451 (Luqman Abbas)
                                            </li>
										<li><i class="fa fa-caret-right"></i>Phone: +2348167274090 (Tekena George)</li>
                                        <li><i class="fa fa-caret-right"></i>Website: www.psn-ypg.org </li>
									</ul>
								</div>
							</div>
						</div>
						<!-- End Choose Left -->
					</div>
					<div class="col-lg-6 col-12">
						<!-- Start Choose Rights -->
						<div class="choose-right">
							<div class="video-image">
								<img src="{% static 'img/Tekena.jpg'%}"style="height: 500px; width: 450px;border-radius: 5px;" alt="#">
							</div>
						</div>
						<!-- End Choose Rights -->
					</div>
				</div>
			</div>
		</section>
		<!--/ End Why choose -->


{% endblock %}