
{% extends "base.html" %}
{% load static %}
{% block content%}


		<!-- Breadcrumbs -->
		<div class="breadcrumbs overlay">
			<div class="container">
				<div class="bread-inner">
					<div class="row">
						<div class="col-12">
							<h2>DALA 2025: Our Flagship Event</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Breadcrumbs -->




		<!-- Start Why choose -->
		<section class="why-choose section" >
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-12">
						<!-- Start Choose Left -->
						<div class="choose-left">
							<h3 style="color: #98681e;font-family: sans-serif;">The PSN-YPG Annual National Conference is our flagship event, 
                                drawing pharmacists from across Nigeria and beyond. The upcoming DALA 2025 conference, themed:</h3>

							<h6>“Politics, Policies, and Pills: Young Pharmacists at the Intersection of 
                                Governance and Medicine Security in Nigeria”</h6><br>
							<p>…promises to be a landmark event. Delegates will gain insights into the evolving role of pharmacists in shaping 
                                healthcare policies while connecting with industry leaders and exploring new innovations.</p>
                            <p>This event is more than just a gathering — it’s a launchpad for young pharmacists to 
                                become catalysts for change in Nigeria’s healthcare system.</p>
                            
                            <h6>Why Partner with PSN-YPG?</h6>
                            <p>Supporting PSN-YPG isn’t just a sponsorship — it’s an investment in Nigeria’s 
                                healthcare future. As a partner, your organization will:</p>
                            <ol> 
                                <li>Gain Direct Access to a specialized audience of young, 
                                    talented pharmacists eager to embrace new ideas and innovations.</li>
                                <li>Showcase Your Brand as a champion of healthcare development and youth empowerment.</li>
                                <li>Contribute to Policy and Innovation by supporting meaningful 
                                    discussions that shape Nigeria’s healthcare policies and pharmaceutical practices.</li>
                                <li>Enjoy Enhanced Visibility through conference materials, speaking 
                                    opportunities, and direct engagement with delegates.</li>
                            </ol>

                            <h6>Let’s Shape the Future Together</h6><br>
                            <p>At PSN-YPG, we believe young pharmacists are not just participants in Nigeria’s healthcare system — 
                                they are its future leaders. Join us in equipping the next generation of 
                                pharmacists with the tools, knowledge, and confidence they need to make a lasting impact.</p>

                            <h6>For inquiries, sponsorship, or collaboration:</h6><br>

							<div class="row">
								<div class="col-lg-7">
									<ul class="list">
										<li><i class="fa fa-caret-right"></i>Email: psnypg@gmail.com</li>
										<li><i class="fa fa-caret-right"></i>Phone: +2347031698451 (Luqman Abbas)
                                            </li>
										<li><i class="fa fa-caret-right"></i>Phone: +2348167274090 (Tekena George)</li>
                                        <li><i class="fa fa-caret-right"></i>Website: www.psn-ypg.org </li>
									</ul>
								</div>
							</div>
						</div>
						<!-- End Choose Left -->
					</div>
					<div class="col-lg-6 col-12">
						<!-- Start Choose Rights -->
						<div class="choose-right">
							<div class="video-image">
								<img src="{% static 'img/Tekena.jpg'%}"style="height: 500px; width: 450px;border-radius: 5px;" alt="#">
							</div>
						</div>
						<!-- End Choose Rights -->
					</div>
				</div>
			</div>
		</section>
		<!--/ End Why choose -->




		<!-- Tab Section -->
<div class="shadow p-5 mb-5 bg-body rounded">
    <div class="row">
        <div class="col-md-12">
            <div class="shop-extra">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"style="color: #005200;" aria-selected="true">OUR MISSION</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="menu3-tab" data-toggle="tab" href="#menu3" role="tab" aria-controls="menu3"style="color: #005200;" aria-selected="false">OUR VISION</a>
                    </li>
                  
                </ul>

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"><br>
                        <h3 style="color: #005200;">Our Mission</h3><br>
                        <p>To develop young pharmacists into agents of positive change at 
							the local, national, and international levels by equipping them 
							with the skills, knowledge, and network necessary to make meaningful 
							contributions to healthcare and society.
							</p>
                    </div>
                   
                    <div class="tab-pane fade" id="menu3" role="tabpanel" aria-labelledby="menu3-tab"><br>
                        <h3 style="color: #005200;">Our Vision</h3><br>
                        <p>1. To cultivate a growing community of young pharmacists actively contributing 
							to the improvement of Nigeria’s healthcare system.</p>
						<p>2. To ensure the continuous development of pharmacy as an indispensable 
							profession, occupying a unique and impactful role in healthcare delivery.</p>
						<p>3. To promote pharmacy education and practice through socially responsible, 
							proactive, innovative, and culturally competent leaders.</p>
						<P>4. To foster inclusivity and participation of young pharmacists across Nigeria, 
							regardless of state of origin, socio-economic background, gender, or other factors.</P>
                    </div>
                
                </div>
            </div><!-- end shop-extra -->
        </div><!-- end col -->
    </div><!-- end row -->

    <div class="btn-wrapper">
        <a href="javascript:history.back();" class="btn btn-primary" style="border-radius: 10px; font-family: Georgia;"> Back </a>
    </div>
</div><!-- end shadow p-5 -->
		
		<!--/ End Feautes -->

{% endblock %}