{% extends "base.html" %}
{% load static %}
{% block title %}{{object.psnypg_news_and_event_title }}{% endblock %}
{% block content%}

	
		<!-- Breadcrumbs -->
		<div class="breadcrumbs overlay">
			<div class="container">
				<div class="bread-inner">
					<div class="row">
						<div class="col-12">
							<h2>{{object.psnypg_news_and_event_title }}</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Breadcrumbs -->
	
		<!-- Start Portfolio Details Area -->
		<section class="pf-details section">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="inner-content">
                            <img src="{{object.psnypg_news_and_event_img.url }}" alt="#">
							<div class="date">
								<ul>
									<li><span>Category :</span> Heart Surgery</li>
									<li><span>Date :</span> April 20, 2019</li>
									<li><span>Client :</span> Suke Agency</li>
									<li><span>Ags :</span> Typo</li>
								</ul>
							</div>
							<div class="body-text">
								<h3 style="color: #D4AF4B;">{{object.psnypg_news_and_event_title }}</h3>
								<p>{{object.psnypg_news_and_event_description }}</p>
							</div>
						</div>
                        <br>
                        <div class="btn-wrapper">
                            <a href="javascript:history.back();" class="btn btn-primary" style="border-radius: 10px;"> Back </a>
                        </div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Portfolio Details Area -->
		
	{% endblock %}