
{% extends "base.html" %}
{% load static %}
{% block content%}


		<div class="breadcrumbs overlay">
			<div class="container">
				<div class="bread-inner">
					<div class="row">
						<div class="col-12">
							<h2>What We Do</h2>
						</div>
					</div>
				</div>
			</div>
		</div>




		<!-- Start Why choose -->
		<section class="why-choose section" >
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<img src="{% static 'img/section-img.png'%}" alt="#">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-12">
						<!-- Start Choose Left -->
						<div class="choose-left">
							<h3 style="color: #98681e;font-family: sans-serif;">PSN-YPG is committed to shaping the future of pharmacy in Nigeria by creating platforms 
                                for collaboration, education, and innovation. Our key initiatives include:</h3>

                            <ol> 
                                <li><b>Annual National Conference</b>: A melting pot of ideas where young pharmacists engage 
                                    in seminars, workshops, and scientific discussions.</li>
                                <li><b>Capacity Building Programs</b>: Training sessions focused on 
                                    leadership, innovation, and emerging healthcare trends</li>
                                <li><b>Advocacy and Policy Engagement</b>: Amplifying the voice of young pharmacists in policy 
                                    discussions that shape Nigeria’s healthcare future.</li>
                                <li><b>Community Outreach</b>: Programs like the Young Pharmacists Marathon 
                                    Against Drug Abuse (MADA) aim to raise awareness and fight public health challenges.</li>
                                <li><b>Networking and Mentorship</b>: Facilitating connections between young 
                                    pharmacists and seasoned professionals to guide career growth and innovation.</li>
                            </ol>
						</div>
						<!-- End Choose Left -->
					</div>
					<div class="col-lg-6 col-12">
						<!-- Start Choose Rights -->
						<div class="choose-right">
							<div class="video-image">
								<img src="{% static 'img/Tekena.jpg'%}"style="height: 500px; width: 450px;border-radius: 5px;" alt="#">
							</div>
						</div>
						<!-- End Choose Rights -->
					</div>
				</div>
			</div>
		</section>
		<!--/ End Why choose -->

<!-- Start service -->
<section class="services section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section-title">
					<h3 style="color: #98681e;font-family: sans-serif;">PSN-YPG is committed to shaping the future of pharmacy in Nigeria by creating platforms 
						for collaboration, education, and innovation. Our key initiatives include:</h3>
					<img src="{% static 'img/section-img.png'%}" alt="#">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6 col-12">
				<!-- Start Single Service -->
				<div class="single-service">
					<i class="icofont icofont-prescription"></i>
					<h4><a href="service-details.html">Annual National Conference</a></h4>
					<p>: A melting pot of ideas where young pharmacists engage 
						in seminars, workshops, and scientific discussions.</p>	
				</div>
				<!-- End Single Service -->
			</div>
			<div class="col-lg-4 col-md-6 col-12">
				<!-- Start Single Service -->
				<div class="single-service">
					<i class="icofont icofont-tooth"></i>
					<h4><a href="service-details.html">Capacity Building Programs</a></h4>
					<p>Training sessions focused on 
						leadership, innovation, and emerging healthcare trends </p>	
				</div>
				<!-- End Single Service -->
			</div>
			<div class="col-lg-4 col-md-6 col-12">
				<!-- Start Single Service -->
				<div class="single-service">
					<i class="icofont icofont-heart-alt"></i>
					<h4><a href="service-details.html">Advocacy and Policy Engagement</a></h4>
					<p>Amplifying the voice of young pharmacists in policy 
						discussions that shape Nigeria’s healthcare future.</p>	
				</div>
				<!-- End Single Service -->
			</div>
			<div class="col-lg-4 col-md-6 col-12">
				<!-- Start Single Service -->
				<div class="single-service">
					<i class="icofont icofont-listening"></i>
					<h4><a href="service-details.html">Community Outreach</a></h4>
					<p>Programs like the Young Pharmacists Marathon 
						Against Drug Abuse (MADA) aim to raise awareness and fight public health challenges.</p>	
				</div>
				<!-- End Single Service -->
			</div>
			<div class="col-lg-4 col-md-6 col-12">
				<!-- Start Single Service -->
				<div class="single-service">
					<i class="icofont icofont-eye-alt"></i>
					<h4><a href="service-details.html">Networking and Mentorship</a></h4>
					<p> Facilitating connections between young 
						pharmacists and seasoned professionals to guide career growth and innovation..</p>	
				</div>
				<!-- End Single Service -->
			</div>
		
		</div>
	</div>
</section>
<!--/ End service -->



{% endblock %}