
{% extends "base.html" %}
{% load static %}
{% block content%}


		<div class="breadcrumbs overlay">
			<div class="container">
				<div class="bread-inner">
					<div class="row">
						<div class="col-12">
							<h2>What We Do</h2>
						</div>
					</div>
				</div>
			</div>
		</div>




		<!-- Start Why choose -->
		<section class="why-choose section" >
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<img src="{% static 'img/section-img.png'%}" alt="#">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-12">
						<!-- Start Choose Left -->
						<div class="choose-left">
							<h3 style="color: #98681e;font-family: sans-serif;">PSN-YPG is committed to shaping the future of pharmacy in Nigeria by creating platforms 
                                for collaboration, education, and innovation. Our key initiatives include:</h3>

                            <ol> 
                                <li>Annual National Conference: A melting pot of ideas where young pharmacists engage 
                                    in seminars, workshops, and scientific discussions.</li>
                                <li>Capacity Building Programs: Training sessions focused on 
                                    leadership, innovation, and emerging healthcare trends</li>
                                <li>Advocacy and Policy Engagement: Amplifying the voice of young pharmacists in policy 
                                    discussions that shape Nigeria’s healthcare future.</li>
                                <li>Community Outreach: Programs like the Young Pharmacists Marathon 
                                    Against Drug Abuse (MADA) aim to raise awareness and fight public health challenges.</li>
                                <li>Networking and Mentorship: Facilitating connections between young 
                                    pharmacists and seasoned professionals to guide career growth and innovation.</li>
                            </ol>
						</div>
						<!-- End Choose Left -->
					</div>
					<div class="col-lg-6 col-12">
						<!-- Start Choose Rights -->
						<div class="choose-right">
							<div class="video-image">
								<img src="{% static 'img/Tekena.jpg'%}"style="height: 500px; width: 450px;border-radius: 5px;" alt="#">
							</div>
						</div>
						<!-- End Choose Rights -->
					</div>
				</div>
			</div>
		</section>
		<!--/ End Why choose -->



{% endblock %}