
{% extends "base.html" %}
{% load static %}
{% block title %}Who We Are {% endblock %}
{% block content%}


		<!-- Breadcrumbs -->
		<div class="breadcrumbs overlay">
			<div class="container">
				<div class="bread-inner">
					<div class="row">
						<div class="col-12">
							<h2>Who We Are</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Breadcrumbs -->




		<!-- Start Why choose -->
		<section class="why-choose section" >
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<img src="{% static 'img/section-img.png'%}" alt="#">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-12">
						<!-- Start Choose Left -->
						<div class="choose-left">
							<h3 style="color: #98681e;font-family: sans-serif;">Pharmaceutical Society of Nigeria – Young Pharmacists Group (PSN-YPG)</h3>

							<p>At PSN-YPG, we are the heartbeat of the next generation of pharmacists in Nigeria. 
								Our network is made up of young, dynamic professionals—pharmacists who are either 
								35 years or younger or have graduated from an accredited pharmacy school within 
								the last five years. As the youth arm of the Pharmaceutical Society of Nigeria 
								(PSN), we are committed to innovation, advocacy, and leadership in shaping the 
								future of healthcare.<br>

								Our mission? To empower young pharmacists by equipping them with the knowledge, 
								skills, and opportunities to lead, innovate, and transform pharmacy 
								practice. Through policy advocacy, professional development programs, 
								mentorship, and strategic partnerships, we ensure that young pharmacists 
								have a voice in the evolving healthcare landscape.
								Whether you’re looking to connect, grow, or make an impact, PSN-YPG is 
								your platform to engage, collaborate, and drive meaningful change in public health.
							</p>
							<div class="row">
								<div class="col-lg-6">
									<ul class="list">
										<li><i class="fa fa-caret-right"></i>Innovation. </li>
										<li><i class="fa fa-caret-right"></i>Excellence.</li>
										<li><i class="fa fa-caret-right"></i>Leadership.</li>
									</ul>
								</div>
								<div class="col-lg-6">
									<ul class="list">
										<li><i class="fa fa-caret-right"></i>Collaboration. </li>
										<li><i class="fa fa-caret-right"></i> Advocacy </li>
										<li><i class="fa fa-caret-right"></i> Integrity</li>
										<li><i class="fa fa-caret-right"></i> Community Impact</li>
									</ul>
								</div>
							</div>
						</div>
						<!-- End Choose Left -->
					</div>
					<div class="col-lg-6 col-12">
						<!-- Start Choose Rights -->
						<div class="choose-right">
							<div class="video-image">
								<img src="{% static 'img/Tekena.jpg'%}"style="height: 450px; width: 350px;border-radius: 5px;" alt="#">
							</div>
						</div>
						<!-- End Choose Rights -->
					</div>
				</div>
			</div>
		</section>
		<!--/ End Why choose -->



		<!-- Tab Section -->
<div class="shadow p-5 mb-5 bg-body rounded">
    <div class="row">
        <div class="col-md-12">
            <div class="shop-extra">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"style="color: #005200;" aria-selected="true">OUR MISSION</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="menu3-tab" data-toggle="tab" href="#menu3" role="tab" aria-controls="menu3"style="color: #005200;" aria-selected="false">OUR VISION</a>
                    </li>
					<li class="nav-item">
                        <a class="nav-link" id="menu2-tab" data-toggle="tab" href="#menu2" role="tab" aria-controls="menu2"style="color: #005200;" aria-selected="false">OUR CORE VALUE</a>
                    </li>
                  
                </ul>

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"><br>
                        <h3 style="color: #005200;">Our Mission</h3><br>
                        <p>At the Pharmaceutical Society of Nigeria - Young Pharmacists Group (PSN-YPG), 
							we are committed to empowering young Pharmacists to become leaders and 
							catalysts for positive change in the profession and society. Through 
							collaboration, innovation, and professional excellence, we equip 
							individuals to drive impact at local, national, and global levels, ensuring 
							sustainable development and progress in healthcare.
							</p>
                    </div>
                   
                    <div class="tab-pane fade" id="menu3" role="tabpanel" aria-labelledby="menu3-tab"><br>
                        <h3 style="color: #005200;">Our Vision</h3><br>
                        <p>1. We envision a future where young Pharmacists play a pivotal role in 
							advancing the nation’s health, leveraging their expertise to improve 
							patient care and public health outcomes.
						</p>
						<p>2. We are dedicated to ensuring that Pharmacy remains a cornerstone of healthcare, 
							continuously evolving to meet the needs of a dynamic health system.
						</p>
						<p>3. Our goal is to nurture Pharmacists who are socially responsible, proactive, 
							innovative, and lifelong learners, equipped to lead the transformation of 
							Pharmaceutical education and practice.
						</p>
						<P>4. We strive to create an environment where every young Pharmacist, regardless of 
							background, has a voice and a place, fostering active participation in national 
							programs and initiatives.</P>
                    </div>

					<div class="tab-pane fade" id="menu2" role="tabpanel" aria-labelledby="menu2-tab"><br>
                        <h3 style="color: #005200;">Our Core Value</h3><br>
                        <p>✅ Innovation – We push boundaries with fresh ideas and modern solutions in pharmacy practice</p>
						<p>✅ Excellence – We uphold the highest professional and ethical standards in everything we do.</p>
						<p>✅ Leadership – We equip young pharmacists with the confidence and skills to lead and influence healthcare</p>
						<P>✅ Collaboration – We foster strong networks and partnerships within and beyond the pharmaceutical sector.</P>
						<p>✅ Advocacy – We champion policies and reforms that drive a thriving pharmacy profession.</p>
						<p>✅ Integrity – We operate with transparency, accountability, and ethical responsibility.</p>
						<p>✅ Community Impact – We actively contribute to public health through outreach programs and social initiatives</p>
					</div>
                
                </div>
            </div><!-- end shop-extra -->
        </div><!-- end col -->
    </div><!-- end row -->

    <div class="btn-wrapper">
        <a href="javascript:history.back();" class="btn btn-primary" style="border-radius: 10px;"> Back </a>
    </div>
</div><!-- end shadow p-5 -->
		
		<!--/ End Feautes -->

{% endblock %}