
{% extends "base.html" %}
{% load static %}
{% block content%}


		<!-- Breadcrumbs -->
		<div class="breadcrumbs overlay">
			<div class="container">
				<div class="bread-inner">
					<div class="row">
						<div class="col-12">
							<h2>Who We Are</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Breadcrumbs -->




		<!-- Start Why choose -->
		<section class="why-choose section" >
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<img src="{% static 'img/section-img.png'%}" alt="#">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-12">
						<!-- Start Choose Left -->
						<div class="choose-left">
							<h3 style="color: #98681e;font-family: sans-serif;">Pharmaceutical Society of Nigeria – Young Pharmacists Group (PSN-YPG)</h3>

							<p>The Young Pharmacists Group (YPG) is a dynamic interest group under the umbrella of the 
								Pharmaceutical Society of Nigeria (PSN), comprising pharmacists who are either 35 years 
								of age or younger or have graduated from an accredited pharmacy school within the last five years. 
								Since its inception, PSN-YPG has become a driving force for positive change, empowering young 
								pharmacists to actively shape Nigeria’s healthcare landscape while fostering personal and professional growth.</p>
							<p>At Psn-ypg, we are your trusted healthcare partner, making sure you receive the best 
								care possible for a healthier tomorrow. </p>
							<div class="row">
								<div class="col-lg-6">
									<ul class="list">
										<li><i class="fa fa-caret-right"></i>Customer-Centered Care.</li>
										<li><i class="fa fa-caret-right"></i>Integrity.</li>
										<li><i class="fa fa-caret-right"></i>Excellence.</li>
									</ul>
								</div>
								<div class="col-lg-6">
									<ul class="list">
										<li><i class="fa fa-caret-right"></i>Community Focus. </li>
										<li><i class="fa fa-caret-right"></i>Accountability.</li>
										<li><i class="fa fa-caret-right"></i>Surgery.</li>
									</ul>
								</div>
							</div>
						</div>
						<!-- End Choose Left -->
					</div>
					<div class="col-lg-6 col-12">
						<!-- Start Choose Rights -->
						<div class="choose-right">
							<div class="video-image">
								<img src="{% static 'img/Tekena.jpg'%}"style="height: 500px; width: 450px;border-radius: 5px;" alt="#">
							</div>
						</div>
						<!-- End Choose Rights -->
					</div>
				</div>
			</div>
		</section>
		<!--/ End Why choose -->




		<!-- Tab Section -->
<div class="shadow p-5 mb-5 bg-body rounded">
    <div class="row">
        <div class="col-md-12">
            <div class="shop-extra">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">OUR VISION</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="menu3-tab" data-toggle="tab" href="#menu3" role="tab" aria-controls="menu3" aria-selected="false">OUR APPROACH</a>
                    </li>
                  
                </ul>

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h3 style="color: #98681e; font-family: Georgia;">Vision</h3>
                        <p>To be a leading integrated construction, real estate, and facility management company 
                            in Nigeria, delivering innovative, sustainable, and high-quality solutions 
                            that enhance the built environment and quality of life. To emerge as the leading construction and real estate service provider in Africa 
                            and globally, accomplished through the delivery of internationally acclaimed structures.</p>
                    </div>
                   
                    <div class="tab-pane fade" id="menu3" role="tabpanel" aria-labelledby="menu3-tab">
                        <h3 style="color: #98681e; font-family: Georgia;">Approach</h3>
                        <p>At Deus Magnus, we address complex challenges facing high-net-worth property developers, 
                            investors, and owners. Our innovative approach significantly reduces risks, delays, and 
                            premature deterioration by focusing on five key areas:</p>
                        <div class="row">
                            <div class="col-lg-8 col-md-6 col-sm-4 col-xs-12 first">
                                <ul class="check">
                                    <li>Integrated Solutions Model</li>
                                    <li>Lifecycle Cost Optimization</li>
                                    <li>Technology Integration</li>
                                    <li>Sustainability Focus</li>
                                    <li>Quality Assurance and Project Management</li>
                                </ul><!-- end check -->
                            </div><!-- end col-lg-4 -->    
                        </div><!-- end row -->
                    </div>
                
                </div>
            </div><!-- end shop-extra -->
        </div><!-- end col -->
    </div><!-- end row -->

    <div class="btn-wrapper">
        <a href="javascript:history.back();" class="btn btn-primary" style="border-radius: 10px; font-family: Georgia;"> Back </a>
    </div>
</div><!-- end shadow p-5 -->
		
		<!--/ End Feautes -->

{% endblock %}