
{% extends "base.html" %}
{% load static %}
{% block title %}Why PSN-YPG Matters {% endblock %}
{% block content%}


		<div class="breadcrumbs overlay">
			<div class="container">
				<div class="bread-inner">
					<div class="row">
						<div class="col-12">
							<h3 style="color: #fff;font-family: sans-serif;">Why PSN-YPG Matters</h3>
						</div>
					</div>
				</div>
			</div>
		</div>


<!-- Start Blog Area -->
<section class="blog section" id="blogg">
	<div class="container" >
		<div class="row" >
			<div class="col-lg-12">
				<div class="section-title">
					<h3 style="color: #D4AF4B;font-family: sans-serif;">Young Pharmacists represent the future of Nigeria’s healthcare system. By providing a 
						platform that nurtures their potential, <br><br>PSN-YPG contributes to:</h3>
					<img src="{% static 'img/section-img.png'%}" alt="#">
				</div>
			</div>
		</div>
		<div class="row">
			{% for post in object_list %}
			<div class="col-lg-4 col-md-6 col-12">
				<!-- Single Blog -->
				<div class="single-news">
					<div class="news-head"> 
						<a href="{% url 'whypsn_article_detail' post.pk %}">
						<img src="{{ post.why_psnypg_img.url }}"style=";border-radius:10px;" alt="why images">
						</a>
					</div>
					<div class="news-body">
						<div class="news-content">
							<h4 style="color: #D4AF4B;font-family: sans-serif;"><a href="{% url 'whypsn_article_detail' post.pk %}">{{ post.why_psnypg_title }}</a></h4>
							<p class="text" style="color: #fff;"> {{ post.why_psnypg_description }}</p>
						</div>
					</div>
				</div>
				<!-- End Single Blog -->
			</div>
			{% endfor %}
		</div>
	</div>
</section>
<!-- End Blog Area -->
{% endblock %}